//-section mixin
mixin uiSection(col, title, content)
    section.ui-section(class="col-md-" + col)
        .ui-section-header
            .ui-section__title
                span= title
        .ui-section-body.clearfix
            block