/* ==========================================================================
  CARD
===========================================================================*/

$card-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
$card-background: $color-white;

$card-border-radius: 4px;

$card-image-height: 150px;

$card-title-color: $color-black-light;
$card-title-font-weight: $font-weight-medium;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow: hidden;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  background-color: $card-background;
}

.card__image {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $card-image-height;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  height: calc(100% - #{$card-image-height});
}

.card__title {
  display: block;
  margin-bottom: 25px;
  color: $card-title-color;
  font-weight: $card-title-font-weight;
  text-align: center;
  text-decoration: none;
}

.card__button {
  max-width: 160px;
}
/* end card */
