/* ==========================================================================
  COLLAPSE
===========================================================================*/

.js-collapse {
  width: 100%;
}

.js-collapse-body {
  display: none;
}

/* end collapse */