/*==========================================================================
  FOOTER ABOVE
  ========================================================================== */

.footer-above {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 325px;
  background-image: url('../images/pattern.svg');
  background-repeat: repeat;
  background-color: #fff;
  background-size: cover;

  @include mq('laptop', 'max') {
    height: 240px;
  }

  @include mq('tablet', 'max') {
    height: 150px;
  }
}

.footer-above__content {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-above__title {
  font-weight: $font-weight-bold;
  font-family: $font-family-secondary;
  margin: 0;

  @include mq('laptop', 'max') {
    font-size: 30px;
  }

  @include mq('tablet', 'max') {
    font-size: 16px;
  }
}

.footer-above__phone {
  font-family: $font-family-secondary;
  font-size: 50px;
  font-weight: $font-weight-regular;

  @include mq('laptop', 'max') {
    font-size: 36px;
  }

  @include mq('tablet', 'max') {
    font-size: 30px;
  }
}

.footer-above__description {
  font-family: $font-family-secondary;
  font-size: 20px;
  font-weight: $font-weight-regular;

  @include mq('laptop', 'max') {
    font-size: 18px;
  }

  @include mq('tablet', 'max') {
    font-size: 16px;
  }
}

/* end footer above */
