// section cards
section.section-cards
    .section-cards__list
        .container
            .row
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.event,
                        'event-5.jpg',
                        'Пробный экзамен KET & PET'
                    )
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.event,
                        'event-6.jpg',
                        'Печем имбирные пряники'
                    )
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.event,
                        'event-7.jpg',
                        'Фотосессия за достижения'
                    )
                //-(img, title, className)
                .section-cards__item.col-xl-3.col-md-4.col-sm-6
                    +card(
                        LINKS.event,
                        'event-8.jpg',
                        'Цирк на английском'
                    )
