//-mixin card
mixin card(href, img, title, className)
    //card
    .card
        a(href= href).card__image
            img(src="uploads/" + img, alt= title)
        .card__body
            a(href= href).card__title!= title
            a(href= href).btn.btn_default.btn_full.card__button Подробнее