

.tippy-touch {
  cursor: pointer !important
}

.tippy-notransition {
  transition: none !important
}

.tooltip-list {

  li {

    + li{
      margin-top: 10px;
    }
  }

  p{
    margin: 0;
  }
}

.tippy-popper {
  max-width: 350px;
  -webkit-perspective: 700px;
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
  pointer-events: none;
  font-size: $font-size-primary-smaller;
  text-align: left;
  line-height: 1.4;
}

.tippy-popper[data-html] {
  max-width: 96%;
  max-width: calc(100% - 20px)
}

.tippy-popper[x-placement^=top] .tippy-backdrop {
  border-radius: 40% 40% 0 0
}

.tippy-popper[x-placement^=top] .tippy-roundarrow {
  bottom: -8px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0
}

.tippy-popper[x-placement^=top] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 7px solid #333;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  margin: 0 6px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0
}

.tippy-popper[x-placement^=top] .tippy-backdrop {
  -webkit-transform-origin: 0 90%;
  transform-origin: 0 90%
}

.tippy-popper[x-placement^=top] .tippy-backdrop[data-state=visible] {
  -webkit-transform: scale(6) translate(-50%, 25%);
  transform: scale(6) translate(-50%, 25%);
  opacity: 1
}

.tippy-popper[x-placement^=top] .tippy-backdrop[data-state=hidden] {
  -webkit-transform: scale(1) translate(-50%, 25%);
  transform: scale(1) translate(-50%, 25%);
  opacity: 0
}

.tippy-popper[x-placement^=top] [data-animation=shift-toward][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}

.tippy-popper[x-placement^=top] [data-animation=shift-toward][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px)
}

.tippy-popper[x-placement^=top] [data-animation=perspective] {
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.tippy-popper[x-placement^=top] [data-animation=perspective][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(-10px) rotateX(0);
  transform: translateY(-10px) rotateX(0)
}

.tippy-popper[x-placement^=top] [data-animation=perspective][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0) rotateX(90deg);
  transform: translateY(0) rotateX(90deg)
}

.tippy-popper[x-placement^=top] [data-animation=fade][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}

.tippy-popper[x-placement^=top] [data-animation=fade][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}

.tippy-popper[x-placement^=top] [data-animation=shift-away][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}

.tippy-popper[x-placement^=top] [data-animation=shift-away][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.tippy-popper[x-placement^=top] [data-animation=scale][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(-10px) scale(1);
  transform: translateY(-10px) scale(1)
}

.tippy-popper[x-placement^=top] [data-animation=scale][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0)
}

.tippy-popper[x-placement^=bottom] .tippy-backdrop {
  border-radius: 0 0 30% 30%
}

.tippy-popper[x-placement^=bottom] .tippy-roundarrow {
  top: -8px;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

.tippy-popper[x-placement^=bottom] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom: 7px solid #333;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: -7px;
  margin: 0 6px;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

.tippy-popper[x-placement^=bottom] .tippy-backdrop {
  -webkit-transform-origin: 0 -90%;
  transform-origin: 0 -90%
}

.tippy-popper[x-placement^=bottom] .tippy-backdrop[data-state=visible] {
  -webkit-transform: scale(6) translate(-50%, -125%);
  transform: scale(6) translate(-50%, -125%);
  opacity: 1
}

.tippy-popper[x-placement^=bottom] .tippy-backdrop[data-state=hidden] {
  -webkit-transform: scale(1) translate(-50%, -125%);
  transform: scale(1) translate(-50%, -125%);
  opacity: 0
}

.tippy-popper[x-placement^=bottom] [data-animation=shift-toward][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}

.tippy-popper[x-placement^=bottom] [data-animation=shift-toward][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px)
}

.tippy-popper[x-placement^=bottom] [data-animation=perspective] {
  -webkit-transform-origin: top;
  transform-origin: top
}

.tippy-popper[x-placement^=bottom] [data-animation=perspective][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(10px) rotateX(0);
  transform: translateY(10px) rotateX(0)
}

.tippy-popper[x-placement^=bottom] [data-animation=perspective][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0) rotateX(-90deg);
  transform: translateY(0) rotateX(-90deg)
}

.tippy-popper[x-placement^=bottom] [data-animation=fade][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}

.tippy-popper[x-placement^=bottom] [data-animation=fade][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}

.tippy-popper[x-placement^=bottom] [data-animation=shift-away][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}

.tippy-popper[x-placement^=bottom] [data-animation=shift-away][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.tippy-popper[x-placement^=bottom] [data-animation=scale][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateY(10px) scale(1);
  transform: translateY(10px) scale(1)
}

.tippy-popper[x-placement^=bottom] [data-animation=scale][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0)
}

.tippy-popper[x-placement^=left] .tippy-backdrop {
  border-radius: 50% 0 0 50%
}

.tippy-popper[x-placement^=left] .tippy-roundarrow {
  right: -16px;
  -webkit-transform-origin: 33.33333333% 50%;
  transform-origin: 33.33333333% 50%
}

.tippy-popper[x-placement^=left] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.tippy-popper[x-placement^=left] .tippy-arrow {
  border-left: 7px solid #333;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: -7px;
  margin: 3px 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%
}

.tippy-popper[x-placement^=left] .tippy-backdrop {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}

.tippy-popper[x-placement^=left] .tippy-backdrop[data-state=visible] {
  -webkit-transform: scale(6) translate(40%, -50%);
  transform: scale(6) translate(40%, -50%);
  opacity: 1
}

.tippy-popper[x-placement^=left] .tippy-backdrop[data-state=hidden] {
  -webkit-transform: scale(1.5) translate(40%, -50%);
  transform: scale(1.5) translate(40%, -50%);
  opacity: 0
}

.tippy-popper[x-placement^=left] [data-animation=shift-toward][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px)
}

.tippy-popper[x-placement^=left] [data-animation=shift-toward][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px)
}

.tippy-popper[x-placement^=left] [data-animation=perspective] {
  -webkit-transform-origin: right;
  transform-origin: right
}

.tippy-popper[x-placement^=left] [data-animation=perspective][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(-10px) rotateY(0);
  transform: translateX(-10px) rotateY(0)
}

.tippy-popper[x-placement^=left] [data-animation=perspective][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0) rotateY(-90deg);
  transform: translateX(0) rotateY(-90deg)
}

.tippy-popper[x-placement^=left] [data-animation=fade][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px)
}

.tippy-popper[x-placement^=left] [data-animation=fade][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px)
}

.tippy-popper[x-placement^=left] [data-animation=shift-away][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px)
}

.tippy-popper[x-placement^=left] [data-animation=shift-away][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.tippy-popper[x-placement^=left] [data-animation=scale][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(-10px) scale(1);
  transform: translateX(-10px) scale(1)
}

.tippy-popper[x-placement^=left] [data-animation=scale][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0) scale(0);
  transform: translateX(0) scale(0)
}

.tippy-popper[x-placement^=right] .tippy-backdrop {
  border-radius: 0 50% 50% 0
}

.tippy-popper[x-placement^=right] .tippy-roundarrow {
  left: -16px;
  -webkit-transform-origin: 66.66666666% 50%;
  transform-origin: 66.66666666% 50%
}

.tippy-popper[x-placement^=right] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 7px solid #333;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: -7px;
  margin: 3px 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}

.tippy-popper[x-placement^=right] .tippy-backdrop {
  -webkit-transform-origin: -100% 0;
  transform-origin: -100% 0
}

.tippy-popper[x-placement^=right] .tippy-backdrop[data-state=visible] {
  -webkit-transform: scale(6) translate(-140%, -50%);
  transform: scale(6) translate(-140%, -50%);
  opacity: 1
}

.tippy-popper[x-placement^=right] .tippy-backdrop[data-state=hidden] {
  -webkit-transform: scale(1.5) translate(-140%, -50%);
  transform: scale(1.5) translate(-140%, -50%);
  opacity: 0
}

.tippy-popper[x-placement^=right] [data-animation=shift-toward][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(10px);
  transform: translateX(10px)
}

.tippy-popper[x-placement^=right] [data-animation=shift-toward][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(20px);
  transform: translateX(20px)
}

.tippy-popper[x-placement^=right] [data-animation=perspective] {
  -webkit-transform-origin: left;
  transform-origin: left
}

.tippy-popper[x-placement^=right] [data-animation=perspective][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(10px) rotateY(0);
  transform: translateX(10px) rotateY(0)
}

.tippy-popper[x-placement^=right] [data-animation=perspective][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0) rotateY(90deg);
  transform: translateX(0) rotateY(90deg)
}

.tippy-popper[x-placement^=right] [data-animation=fade][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(10px);
  transform: translateX(10px)
}

.tippy-popper[x-placement^=right] [data-animation=fade][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(10px);
  transform: translateX(10px)
}

.tippy-popper[x-placement^=right] [data-animation=shift-away][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(10px);
  transform: translateX(10px)
}

.tippy-popper[x-placement^=right] [data-animation=shift-away][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.tippy-popper[x-placement^=right] [data-animation=scale][data-state=visible] {
  opacity: 1;
  -webkit-transform: translateX(10px) scale(1);
  transform: translateX(10px) scale(1)
}

.tippy-popper[x-placement^=right] [data-animation=scale][data-state=hidden] {
  opacity: 0;
  -webkit-transform: translateX(0) scale(0);
  transform: translateX(0) scale(0)
}

.tippy-tooltip {
  position: relative;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  padding: 1rem .8rem;
  text-align: left;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333
}

.tippy-tooltip[data-size=small] {
  padding: .2rem .4rem;
  font-size: .75rem
}

.tippy-tooltip[data-size=large] {
  padding: .4rem .8rem;
  font-size: 1rem
}

.tippy-tooltip[data-animatefill] {
  overflow: hidden;
  background-color: transparent
}

.tippy-tooltip[data-animatefill] .tippy-content {
  transition: -webkit-clip-path cubic-bezier(.46, .1, .52, .98);
  transition: clip-path cubic-bezier(.46, .1, .52, .98);
  transition: clip-path cubic-bezier(.46, .1, .52, .98), -webkit-clip-path cubic-bezier(.46, .1, .52, .98)
}

.tippy-tooltip[data-interactive], .tippy-tooltip[data-interactive] path {
  pointer-events: auto
}

.tippy-tooltip[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.53, 2, .36, .85)
}

.tippy-tooltip[data-inertia][data-state=hidden] {
  transition-timing-function: ease
}

.tippy-arrow, .tippy-roundarrow {
  position: absolute;
  width: 0;
  height: 0
}

.tippy-roundarrow {
  width: 24px;
  height: 8px;
  fill: #333;
  pointer-events: none
}

.tippy-backdrop {
  position: absolute;
  will-change: transform;
  background-color: #333;
  border-radius: 50%;
  width: 26%;
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: all cubic-bezier(.46, .1, .52, .98);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.tippy-backdrop:after {
  content: "";
  float: left;
  padding-top: 100%
}

body:not(.tippy-touch) .tippy-tooltip[data-animatefill][data-state=visible] .tippy-content {
  -webkit-clip-path: ellipse(100% 100% at 50% 50%);
  clip-path: ellipse(100% 100% at 50% 50%)
}

body:not(.tippy-touch) .tippy-tooltip[data-animatefill][data-state=hidden] .tippy-content {
  -webkit-clip-path: ellipse(5% 50% at 50% 50%);
  clip-path: ellipse(5% 50% at 50% 50%)
}

body:not(.tippy-touch) .tippy-popper[x-placement=right] .tippy-tooltip[data-animatefill][data-state=visible] .tippy-content {
  -webkit-clip-path: ellipse(135% 100% at 0 50%);
  clip-path: ellipse(135% 100% at 0 50%)
}

body:not(.tippy-touch) .tippy-popper[x-placement=right] .tippy-tooltip[data-animatefill][data-state=hidden] .tippy-content {
  -webkit-clip-path: ellipse(40% 100% at 0 50%);
  clip-path: ellipse(40% 100% at 0 50%)
}

body:not(.tippy-touch) .tippy-popper[x-placement=left] .tippy-tooltip[data-animatefill][data-state=visible] .tippy-content {
  -webkit-clip-path: ellipse(135% 100% at 100% 50%);
  clip-path: ellipse(135% 100% at 100% 50%)
}

body:not(.tippy-touch) .tippy-popper[x-placement=left] .tippy-tooltip[data-animatefill][data-state=hidden] .tippy-content {
  -webkit-clip-path: ellipse(40% 100% at 100% 50%);
  clip-path: ellipse(40% 100% at 100% 50%)
}

@media (max-width: 360px) {
  .tippy-popper {
    max-width: 96%;
    max-width: calc(100% - 20px)
  }
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent
}

.tippy-tooltip.light-theme {
  color: $color-black-light;
  font-weight: $font-weight-medium;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);
  background-color: #fff
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff
}

.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff
}

.tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent
}