//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.adult;
    - var SubHeaderBackground= 'header_title-2.jpg';
    - var SubHeaderTitle= 'Взрослые группы';
    - var tableTitles = ["Программа", "Количество занятий", "Стоимость"]
    - var tableTitles2 = ["Программа", "Количество занятий", "Стоимость", "Международный уровень знаний"]

//- content
block content
    .container
        .program-types
            h2.h2 Типы программ
            //types
            .program-types__list
                //item
                .program-types__item
                    table.table.table_sm
                        thead
                            tr
                                th= tableTitles[0]
                                th= tableTitles[1]
                                th= tableTitles[2]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles[0]) #Дружу с иностранцем иностранцем
                                td(data-label= tableTitles[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 1
                                td(data-label= tableTitles[2])
                                    span.label-tooltip.label-tooltip_template(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right") 1 190
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                        p Учить английский можно легко и непринужденно, занимаясь любимым делом, а можно и наоборот, изучая язык найти новое хобби. Например, научиться готовить десерт «Павлова» или кататься на гироскутере. Да-да, именно так и проходят занятия в рамках этой программы. А где они проходят? В разных интересных местах Красноярска – бутики, спортивные комплексы, бассейны, магазины, кулинарные и танцевальные студии, фитнес центры. Присоединяйтесь!
                //item
                .program-types__item
                    table.table.table_md
                        thead
                            tr
                                th= tableTitles2[0]
                                th= tableTitles2[1]
                                th= tableTitles2[2]
                                th= tableTitles2[3]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles2[0]) Классический вечерний курс
                                td(data-label= tableTitles2[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 8
                                td(data-label= tableTitles2[2])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 4 990
                                td(data-label= tableTitles2[3]) А2, B1, B2, C1, C2
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                        p: b Для тех, кто действует с осознанием дела.
                        p Классика — это стандарты для серьезных людей. Осваивать язык, занимаясь два раза в неделю вечером — постепенно, качественно выполняя домашние задания — и результат не заставит себя ждать. Ставь реальные цели и достигай их системно.
                //item
                .program-types__item
                    table.table.table_sm
                        thead
                            tr
                                th= tableTitles[0]
                                th= tableTitles[1]
                                th= tableTitles[2]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles[0]) Курс выходного дня
                                td(data-label= tableTitles[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 4
                                td(data-label= tableTitles[2])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 3 990
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                       p: b Для тех, кто занят среди недели.
                       p Данная программа подойдет для тех, кто мечтает осваивать язык, но в силу разных причин не может посещать занятия в будни. Погружаясь в язык один раз в неделю и регулярно выполняя задания, вы постепенно достигнете свою цель и заговорите на английском.
                //item
                .program-types__item
                    table.table.table_sm
                        thead
                            tr
                                th= tableTitles[0]
                                th= tableTitles[1]
                                th= tableTitles[2]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles[0]) Кембриджские экзамены
                                td(data-label= tableTitles[1])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 4
                                td(data-label= tableTitles[2])
                                    span.label-tooltip.label-tooltip_simple(data-tippy-theme="light", data-tippy-arrow="true", data-tippy-placement="right", title="2 занятия в неделю по 80 минут") 3 990
                                td.table__cell-button
                                    button.btn.btn_default.btn_middle(data-popup="open", data-popup-id='#popup-recording')
                                        span.btn__text Записаться
                    .program__desctiprion
                       p Не забывайте, что для работы и образования за рубежом вам необходимо будет подтвердить свой уровень владения зыком. Школа «Тайм» подписала меморандум с Кембриджским университетом и наши студенты успешно сдают экзамены и получаютcертификаты, подтверждающие их уровень владения английским языком. Сертификат о сдаче Кембриджского экзамена — весомый документ, признанный во всем мире. Повышайте свои шансы на трудоустройство, образование и достойную жизнь на родине за рубежом, выбирайте самое лучшее.

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
