//- layout/page.pug
extends layouts/page-nosubheader.pug

block variables
    - var title = TITLE.event;

//- content
block content
    article.article-page
        .container
            h1.h1 Английский язык в контактном зоопарке
            .row
                .col-md-5
                    //-(id, img, title)
                    +video(
                        'fvl1Y1KAqSI',
                        'video-camp.jpg',
                        'лагерь'
                    )
                    a(data-fancybox="gallery" href="uploads/english-language-1.jpg").article__image-content
                        img(src="uploads/english-language-1.jpg", alt="Дети в школе")
                .col-md-7
                    p: b 4 февраля, 2016
                    p Мы-то точно знаем, как вы устали от контроля взрослых. Они же всегда правы и всегда знают, что вы должны делать. Уxx них же всегда есть must-do для вас.

                    p Вы, конечно, скажете, что вы их очень любите? Да, да! Мы тоже любим ваших родителей!
                    p Вот поэтому мы и придумали, как вам отдохнуть друг от друга.
                    p Мы увезем вас на море, покатаем на яхте, дадим отдохнуть по полной программе!

                    p Ну, а если вы сильно заскучаете по маме и папе за эти 10 дней, то мы разрешим вам позвонить домой и поговорить с родителями, только на английском языке, конечно же.
                    .article__photos
                        .row
                            .col-md-6
                                a(data-fancybox="gallery" href="uploads/english-language-2.jpg").article__image-content
                                    img(src="uploads/english-language-2.jpg", alt="Дети в школе")
                            .col-md-6
                                a(data-fancybox="gallery" href="uploads/english-language-3.jpg").article__image-content
                                    img(src="uploads/english-language-3.jpg", alt="Дети в школе")
            .article-page__controls
                a(href="#").btn.btn_default
                    span.btn__text Смотреть еще фото
    include pages/article-event/section-cards
//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
