//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.foreign_languages;
    - var SubHeaderBackground= 'header_title-15.jpg';
    - var SubHeaderTitle= 'Иностранные языки';

//- content
block content
    include pages/foreign-languages/section-cards


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
