//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.france_lang;
    - var SubHeaderBackground= 'header_title-9.jpg';
    - var SubHeaderTitle= 'Французский язык';

//- content
block content
    //section
    section.section-page.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-12.jpg", alt="Радостная девушка")
                .section-page__col.section-page__col_text
                    h2.h2.section-page__title Все зависит только от вашего желания
                    p Французский язык нравится изучать все большему количеству людей, что отнюдь не удивительно. Ведь французский язык не только на словах считается невероятно красивым и самым романтичным в мире.
                    p Вы уже успели влюбиться в этот поистине мелодичный и чувственный язык? Тогда настало время нашей языковой школы — отбросьте все сомнения и записывайтесь к нам на курсы французского языка!
                    p Мы предлагаем французский язык как для тех, кто уже имеет базу и хочет развивать и совершенствовать свои знания, так и для начинающих: общайтесь, пойте, цитируйте великих мыслителей на французском; читайте французских поэтов, писателей, изучайте французские научные статьи в оригинале; станьте ближе к великолепному французскому кино.
    //section
    section.section-page.section-page--reflected.section-page--bottom-content
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/section-image-13.jpg", alt="Радостные дети")
                .section-page__col.section-page__col_text
                    p Французский для детей – это возможность обучаться в ВУЗах Франции и других европейских стран. Дополнительные курсы французского языка помогут Вашему ребёнку и в школьном французском. Франция — это прекрасная страна Европы, проникнутая романтическими настроениями и светлыми любовными переживаниями. Язык страны во многом похож и на саму страну — такой же светлый и романтичный.
                    p Вы по-настоящему влюблены в этот завораживающий язык или же хотите привить подобную любовь к французскому языку Вашим детям? Тогда настало время языковой школы «Time»! Запишитесь к нам (или запишите кого-то) и начните посещать курсы французского языка как можно скорее!

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
