//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.international_exams;
    - var SubHeaderBackground= 'header_title-14.jpg';
    - var SubHeaderTitle= 'Международные экзамены';
    - var tableTitles = ["Преподаватель", "Время", "Стоимость"]


//- content
block content
    // section
    section.section-page.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/exam-1.png", alt="Девушка")
                .section-page__col.section-page__col_text
                    h2.h2 Международные экзамены по английскому
                    p Независимо от возраста наших студентов, мы предлагаем возможность подготовки к сдаче Кембриджских экзаменов. Учебные программы для школьников и взрослых содержат задания, направленные не только на повышение языкового уровня, но и на подготовку к формату экзаменов. А преподаватели школы «Time» используют знания, полученные на методических семинарах, посвященных теме международных экзаменов.
                    p Для полноценной и качественной подготовки к МЭ специалисты нашей школы создали комфортные условия и разработали свою систему подготовки к экзаменам, основываясь на рекомендациях и методической поддержке специалистов Cambridge University For Schools, а также собственном опыте подготовки наших студентов. Мы создаем обстановку, близкую к реальным экзаменам и помогаем детям поверить и испытать, что экзамены — это не стресс, а способ получить подтверждение своих успехов. Предлагаем вам ознакомится с расписанием и принять участие в подготовке и сдачи Кембриджских экзаменов.
    // section
    section.section-page.section-page--reflected.section-page--break-tablet
        .container
            .section-page__row
                .section-page__col.section-page__col_image
                    img(src="uploads/exam-2.png", alt="Фотография девушки")
                .section-page__col.section-page__col_text
                    h2.h2 Учить язык индивидуально – у нас удобно и реально!
                    p Время не стоит на месте, каждый день несет в себе новые интересы, перспективы и мечты. То, что вчера казалось фантазией, сегодня приобретает уверенные черты планов. Мы готовы предоставить крепкую платформу для Вашего успешного будущего. Международные экзамены — актуальное направление, которого придерживается школа «Time». Мы не стоим на месте и готовы помочь вам и вашему ребенку быть на уровне, который является ступенькой для достижения целого спектра жизненных приоритетов.
                    p Международные экзамены на сегодняшний день являются востребованным курсом, на который ориентирована наша школа. Зачем сдавать такие экзамены и в чем ценность сертификатов, подтверждающих уровень владения языком? Кембриджский сертификат — это не только весомый документ, признанный во всем мире, но и Ваша возможность проверить свои знания независимыми экспертами. С ним открываются широкие перспективы и новые возможности: для взрослых — обучаться в зарубежном ВУЗе, получить престижную работу, вид на жительство за рубежом, иметь в своем портфолио общепризнанный документ о степени владении языком и просто быть уверенным, что всегда находишься на том уровне, который позволяет выбрать лучшее. Для детей — это прежде всего повышение мотивации к изучению языка, развитие стрессоустойчивости через опыт сдачи экзаменов, который в будущем пригодится при сдаче ГИА и ЕГЭ, получение объективной оценки знаний относительно мировых стандартов.
    // program
    section.section-program

        - var tableTitles = ["Экзамен","Письменная часть", "Устная часть", "Окончание регистрации", "Стоимость"]

        .container
            h2.h2.section-program__title Расписание кэмбриджских экзаменов на 2018 год
            // collapse
            .js-collapse
                //group
                .section-program__group
                    h3.table__title Март 2018, г. Красноярск

                    //table
                    table.table.table_lg
                        thead
                            tr
                                th= tableTitles[0]
                                th= tableTitles[1]
                                th= tableTitles[2]
                                th= tableTitles[3]
                                th
                        tbody
                            tr
                                td(data-label= tableTitles[0]) FCE
                                td(data-label= tableTitles[1]) 16 марта (пт)
                                td(data-label= tableTitles[2]) 9-18 марта
                                td(data-label= tableTitles[3]) 09/02/2018
                                td
                                    span.label-tooltip 9 500
                            tr
                                td(data-label= tableTitles[0]) САЕ
                                td(data-label= tableTitles[1]) 17 марта (пт)
                                td(data-label= tableTitles[2]) 9-18 марта
                                td(data-label= tableTitles[3]) 05/02/2018
                                td
                                    span.label-tooltip 10 450
                            tr
                                td(data-label= tableTitles[0]) СРЕ
                                td(data-label= tableTitles[1]) 10 марта (пт)
                                td(data-label= tableTitles[2]) 2-11 марта
                                td(data-label= tableTitles[3]) 28/01/2018
                                td
                                    span.label-tooltip 12 000
                            tr
                                td(data-label= tableTitles[0]) ТКТ (все модули)
                                td(data-label= tableTitles[1]) 25 марта (пт)
                                td(data-label= tableTitles[2])
                                td(data-label= tableTitles[3]) 02/02/2018
                                td
                                    span.label-tooltip 3 500
                // collapse body
                .js-collapse-body
                    //group
                    .section-program__group
                        h3.table__title Апрель 2018, г. Красноярск

                        //table
                        table.table.table_lg
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th= tableTitles[3]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) FCE
                                    td(data-label= tableTitles[1]) 14 апреля (сб)
                                    td(data-label= tableTitles[2]) 9-18 марта
                                    td(data-label= tableTitles[3]) 09/02/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) КЕТ for Schools
                                    td(data-label= tableTitles[1]) 21 апреля (cб)
                                    td(data-label= tableTitles[2]) 9-18 марта
                                    td(data-label= tableTitles[3]) 05/02/2018
                                    td
                                        span.label-tooltip 10 450
                                tr
                                    td(data-label= tableTitles[0]) 9-18 марта
                                    td(data-label= tableTitles[1]) 21 апреля (сб)
                                    td(data-label= tableTitles[2]) 2-11 марта
                                    td(data-label= tableTitles[3]) 28/01/2018
                                    td
                                        span.label-tooltip 12 000
                                tr
                                    td(data-label= tableTitles[0]) Young Learners Exams (Starters, Movers, Flyers)
                                    td(data-label= tableTitles[1]) 22 апреля (вс)
                                    td(data-label= tableTitles[2]) 22 апреля (вс)
                                    td(data-label= tableTitles[3]) 06/03/2018
                                    td
                                        span.label-tooltip 3 500
                    //group
                    .section-program__group
                        h3.table__title Май 2018, г. Красноярск

                        //table
                        table.table.table_lg
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th= tableTitles[3]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) Young Learners Exams (Starters, Movers, Flyers)
                                    td(data-label= tableTitles[1]) 13 мая (вс)
                                    td(data-label= tableTitles[2]) 13 мая (вс)
                                    td(data-label= tableTitles[3]) 24/03/2018
                                    td
                                        span.label-tooltip 5 000
                                tr
                                    td(data-label= tableTitles[0]) КЕТ for Schools
                                    td(data-label= tableTitles[1]) 10 мая (чт)
                                    td(data-label= tableTitles[2]) 4-13 мая
                                    td(data-label= tableTitles[3]) 01/04/2018
                                    td
                                        span.label-tooltip 5 700
                                tr
                                    td(data-label= tableTitles[0]) PET for Schools
                                    td(data-label= tableTitles[1]) 10 мая (чт)
                                    td(data-label= tableTitles[2]) 4-13 мая
                                    td(data-label= tableTitles[3]) 01/04/2018
                                    td
                                        span.label-tooltip 5 880
                                tr
                                    td(data-label= tableTitles[0]) САЕ
                                    td(data-label= tableTitles[1]) 12 мая (сб)
                                    td(data-label= tableTitles[2]) 4-13 мая
                                    td(data-label= tableTitles[3]) 30/03/2018
                                    td
                                        span.label-tooltip 10 450
                                tr
                                    td(data-label= tableTitles[0]) BEC Higher
                                    td(data-label= tableTitles[1]) 26 мая (сб)
                                    td(data-label= tableTitles[2]) 18-27 мая
                                    td(data-label= tableTitles[3]) 13/04/2018
                                    td
                                        span.label-tooltip 10 450
                                tr
                                    td(data-label= tableTitles[0]) КЕТ
                                    td(data-label= tableTitles[1]) 25 мая (пт)
                                    td(data-label= tableTitles[2]) 18-27 мая
                                    td(data-label= tableTitles[3]) 20/04/2018
                                    td
                                        span.label-tooltip 6 200
                                tr
                                    td(data-label= tableTitles[0]) РЕТ
                                    td(data-label= tableTitles[1]) 25 мая (пт)
                                    td(data-label= tableTitles[2]) 18-27 мая
                                    td(data-label= tableTitles[3]) 20/04/2018
                                    td
                                        span.label-tooltip 6 200
                    //group
                    .section-program__group
                        h3.table__title Июнь 2018, г. Красноярск

                        //table
                        table.table.table_lg
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th= tableTitles[3]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) Young Learners Exams (Starters, Movers, Flyers)
                                    td(data-label= tableTitles[1]) 3 июня (вс)
                                    td(data-label= tableTitles[2]) 3 июня (вс)
                                    td(data-label= tableTitles[3]) 28/04/2016
                                    td
                                        span.label-tooltip 5 000
                                tr
                                    td(data-label= tableTitles[0]) КЕТ for Schools
                                    td(data-label= tableTitles[1]) 6 июня (ср)
                                    td(data-label= tableTitles[2]) 1-10 июня
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 5 700
                                tr
                                    td(data-label= tableTitles[0]) PET for Schools
                                    td(data-label= tableTitles[1]) 10 мая (чт)
                                    td(data-label= tableTitles[2]) 4-13 мая
                                    td(data-label= tableTitles[3]) 01/04/2018
                                    td
                                        span.label-tooltip 5 880
                                tr
                                    td(data-label= tableTitles[0]) FCE
                                    td(data-label= tableTitles[1]) 6 июня (ср)
                                    td(data-label= tableTitles[2]) 1-10 июня
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) FCE
                                    td(data-label= tableTitles[1]) 23 июня (сб)
                                    td(data-label= tableTitles[2]) 15-24 июня
                                    td(data-label= tableTitles[3]) 15/05/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) САЕ
                                    td(data-label= tableTitles[1]) 2 июня(сб)
                                    td(data-label= tableTitles[2]) 25 мая-3 июня
                                    td(data-label= tableTitles[3]) 19/04/2018
                                    td
                                        span.label-tooltip 10 450
                                tr
                                    td(data-label= tableTitles[0]) СРЕ
                                    td(data-label= tableTitles[1]) 14 июня (чт)
                                    td(data-label= tableTitles[2]) 8-17 июня
                                    td(data-label= tableTitles[3]) 8-17 июня
                                    td
                                        span.label-tooltip 12 000
                                tr
                                    td(data-label= tableTitles[0]) ТКТ (все модули)
                                    td(data-label= tableTitles[1]) 6 июня (ср)
                                    td(data-label= tableTitles[2])
                                    td(data-label= tableTitles[3]) 13/04/2018
                                    td
                                        span.label-tooltip 3 500
                                tr
                                    td(data-label= tableTitles[0]) ТКТ (все модули)
                                    td(data-label= tableTitles[1]) 22 июня (пт)
                                    td(data-label= tableTitles[2])
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 3 500
                                tr
                                    td(data-label= tableTitles[0]) BEC Vantage
                                    td(data-label= tableTitles[1]) 7 июня (чт)
                                    td(data-label= tableTitles[2]) 2-11 июня
                                    td(data-label= tableTitles[3]) 23/04/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) BEC Preliminary
                                    td(data-label= tableTitles[1]) 9 июня (cб)
                                    td(data-label= tableTitles[2]) 1-10 июня
                                    td(data-label= tableTitles[3]) 25/04/2018
                                    td
                                        span.label-tooltip 6 500
                    //group
                    .section-program__group
                        h3.table__title Август 2018, г. Красноярск

                        //table
                        table.table.table_lg
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th= tableTitles[3]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) ТКТ (все модули)
                                    td(data-label= tableTitles[1]) 23 августа (чт)
                                    td(data-label= tableTitles[2]) 9-18 марта
                                    td(data-label= tableTitles[3]) 01/07/2018
                                    td
                                        span.label-tooltip 3 500
                                tr
                                    td(data-label= tableTitles[0]) САЕ
                                    td(data-label= tableTitles[1]) 24 августа (пт)
                                    td(data-label= tableTitles[2]) 17-26 июля
                                    td(data-label= tableTitles[3]) 01/07/2018
                                    td
                                        span.label-tooltip 10 450
                    //group
                    .section-program__group
                        h3.table__title Декарь 2018, г. Красноярск
                        //table
                        table.table.table_lg
                            thead
                                tr
                                    th= tableTitles[0]
                                    th= tableTitles[1]
                                    th= tableTitles[2]
                                    th= tableTitles[3]
                                    th
                            tbody
                                tr
                                    td(data-label= tableTitles[0]) Young  Learners Exams (Starters, Movers, Flyers)
                                    td(data-label= tableTitles[1]) 16 декабря (вс)
                                    td(data-label= tableTitles[2]) 16 декабря (вс)
                                    td(data-label= tableTitles[3]) 28/04/2016
                                    td
                                        span.label-tooltip 5 000
                                tr
                                    td(data-label= tableTitles[0]) КЕТ for Schools
                                    td(data-label= tableTitles[1]) 15 декабря (сб)
                                    td(data-label= tableTitles[2]) 7-16 декабря
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 5 700
                                tr
                                    td(data-label= tableTitles[0]) PET for Schools
                                    td(data-label= tableTitles[1]) 15 декабря (сб)
                                    td(data-label= tableTitles[2]) 7 -16 декабря
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 5 880
                                tr
                                    td(data-label= tableTitles[0]) FCE
                                    td(data-label= tableTitles[1]) 4 декабря (вт)
                                    td(data-label= tableTitles[2]) 30 ноября-9 декабря
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) САЕ
                                    td(data-label= tableTitles[1]) 8 декабря (сб)
                                    td(data-label= tableTitles[2]) 30 ноября-9 декабря
                                    td(data-label= tableTitles[3]) 15/05/2018
                                    td
                                        span.label-tooltip 9 500
                                tr
                                    td(data-label= tableTitles[0]) СРЕ
                                    td(data-label= tableTitles[1]) 6 декабря (чт)
                                    td(data-label= tableTitles[2]) 30 ноября-9 декабря
                                    td(data-label= tableTitles[3]) 19/04/2018
                                    td
                                        span.label-tooltip 10 450
                                tr
                                    td(data-label= tableTitles[0]) ТКТ (все модули)
                                    td(data-label= tableTitles[1]) 10 декабря (вс)
                                    td(data-label= tableTitles[2]) 8-17 июня
                                    td(data-label= tableTitles[3]) 01/05/2018
                                    td
                                        span.label-tooltip 12 000
                //controls
                .section-program__controls
                    button.btn.btn_default.js-button-collapse
                        span.btn__text Все расписание

//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
