//- layout/page.pug
extends layouts/page-single.pug

block variables
    - var title = TITLE.programs;
    - var SubHeaderBackground= 'header_title-10.jpg';
    - var SubHeaderTitle= 'Программы';

//- content
block content
    include pages/programs/section-cards


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
