//- layout/page.pug
extends layouts/page.pug

block variables
    - var title = TITLE.reviews;
    - var SubHeaderBackground= 'header_title-18.jpg';
    - var SubHeaderTitle= 'Отзывы';

//- content
block content
    +subheader(SubHeaderBackground, SubHeaderTitle, true, 'Написать отзыв')
    main.content
        //section
        .section-reviews
            .container
                .section-reviews__list
                    //-(name, location)
                    +review('Светлана', 'Москва')
                    +review('Галина', 'Тюмень')
                    +review('Вероника', 'Крснодар')
                .section-reviews__control
                    a(href="#").btn.btn_default
                        span.btn__text Все отзывы


//-popups
block popups

//- scripts
block scripts
    include global/scripts-google-maps
