/* ==========================================================================
  RADIO BUTTONS
===========================================================================*/

.radio-buttons-group {
  position: relative;
  display: block;
}

.radio-buttons-group__label {
  display: inline-block;
  margin-bottom: 15px;
}

.radio-button {
  position: relative;
  display: flex;

  + .radio-button {
    margin-top: 10px;
  }
}

.radio-button__input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;

  &:checked {

    ~ .radio-button__label {

      &::before {
        background-color: $color-black;
      }
    }
  }
}

.radio-button__label {
  position: relative;
  padding-left: 25px;
  color: $color-black-light;
  font-weight: $font-weight-regular;

  &::before{
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px $color-white inset;
  }
}

/* end checkbox */
