//above footer
section.footer-above
    .footer-above__content
        h2.h2.footer-above__title Запишитесь на бесплатное занятие
        .footer-above__phone 8 800 3333 094
        .footer-above__description Бесплатная круглосуточная линия