//section
section.section-page.section-page--reflected
    .container
        .section-page__row
            .section-page__col.section-page__col_image
                img(src="uploads/section-image-4.jpg", alt="Мероприятия")
            .section-page__col.section-page__col_text
                h2.h2.section-page__title Мероприятия
                p Мы составляем наши программы, исходя из ваших интересов и потребностей, а также инноваций в современной методике преподавания иностранных языков. Это значит, что все услуги, которые вы выбираете в нашей школе не только актуальны в текущее время, но еще и будут полезны именно вам.
                p Наши принципы — учет интересов и нестандартный подход!В меню программ вы сможете выбрать то направление, которое гарантировано приведет вас к успеху в изучении иностранных языков.
                a(href= LINKS.events).btn.btn_default.section-page__button
                    span.btn__text Увидеть больше