//section blocks
section.section-blocks
    h2.h2 Новости
    .section-blocks__list
        .js-carousel
            //-(img, title, date, text, className)
            .section-blocks__item
               +post(
                   'post-1.jpg',
                   'В школе “Time” все отлично. Приходи, у тебя также будет.',
                   '26 мая, 2018',
                   'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
               )
            .section-blocks__item
               +post(
                   'post-2.jpg',
                   'В школе “Time” все отлично. Приходи, у тебя также будет.',
                   '1 июня, 2018',
                   'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
               )
            .section-blocks__item
               +post(
                   'post-3.jpg',
                   'В школе “Time” все отлично. Приходи, у тебя также будет.',
                   '13 июля, 2018',
                   'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
               )
            .section-blocks__item
               +post(
                   'post-4.jpg',
                   'В школе “Time” все отлично. Приходи, у тебя также будет.',
                   '18 июля, 2018',
                   'Какой веселый день, какой чудесный пень, какой чудестный я и песенка...'
               )
    a(href= LINKS.news).btn.btn_default
        span.btn__text Все новости