/* ==========================================================================
  vacancies page
===========================================================================*/

.inventory-content {
  padding-top: 60px;

  @include mq("laptop", "max") {
    padding-top: 20px;
  }
}

/* end vacancies page*/