//section blocks
section.section-blocks
    h2.h2 Наши детские лагеря
    .section-blocks__list
        .js-carousel
            //-(img, title, date, text, className)
            .section-blocks__item
                +card(
                    LINKS.camp,
                    'summer-1.jpg',
                    'Летний отдых 2016'
                )
            .section-blocks__item
                +card(
                    LINKS.camp,
                    'summer-2.jpg',
                    'Летний отдых 2017'
                )
            .section-blocks__item
                +card(
                    LINKS.camp,
                    'summer-3.jpg',
                    'Летний отдых 2018'
                )