//section blocks
section.section-blocks
    h2.h2 Преподаватели г. Красноярск
    .section-blocks__list
        .js-carousel
            //-(img, title, date, text, className)
            .section-blocks__item
                +card(
                    LINKS.teacher,
                    'teacher-1.jpg',
                    'Мохаммед <br/> Сигрид Ла Фонда'
                )
            .section-blocks__item
                +card(
                    LINKS.teacher,
                    'teacher-2.jpg',
                    'Филиппс <br/> Бретт Лэсли'
                )
            .section-blocks__item
                +card(
                    LINKS.teacher,
                    'teacher-3.jpg',
                    'Сафе <br/> Бэн Салах'
                )
            .section-blocks__item
                +card(
                    LINKS.teacher,
                    'teacher-4.jpg',
                    'Яна Сергеевна <br/> Павлова'
                )
    a(href= LINKS.teachers_list).btn.btn_default
        span.btn__text Все преподаватели г. Красноярск