/* COLORS */
.ui-iconset-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}
.ui-iconset-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  padding: 6px;
  margin-right: 1%;
  margin-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background: #ffffff;

  svg {
    width: 32px;
    height: 32px;
  }

  span {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}